*.class
*.iml
HW3/.DS_Store
HW3/src/.DS_Store
HW3/src/main/.DS_Store
.DS_Store
HW5/.idea/
HW5/target/
HW1/.idea/
HW1/target/
HW2/.idea/
HW2/target/
HW3/.idea/
HW3/target/
HW4/.idea/
HW4/target/
HW6/.idea/
HW6/target/